.layout-navbar {
    color: white;
    background-color: #007A93;
    background-image: linear-gradient(225deg, #007A93 0%, #00484D 50%, #020024 100%);       
    padding-bottom: 10px;
    font-weight: 100;
    font-family: Helvetica;
}

.menu {
    color: rgb(40, 40, 40);
    background-color: rgb(246, 246, 246);
    font-family: Helvetica;
    font-weight: 100;
    padding-right: 20px;
    padding-left: 20px;
}

.main-div {
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-menu {
    background-color: rgb(234, 234, 234);
    font-family: Helvetica;
    border-radius: 15px;
    margin: 5px;
    transition: 0.3s;
}

.date-form {
    margin: 0
}

.date-div {
    margin: 0
}

.date-option {
    background-color: rgb(234, 234, 234);
    font-family: Helvetica;
    border-radius: 15px;
    margin: 2px;
    font-size: 12px;
    transition: 0.3s;
}

.date-option:hover {
    color: rgb(255, 255, 255);
    outline: none !important;
    box-shadow: none !important;
    background-color: #007A93;
    background-image: linear-gradient(225deg, #00484D 0%, #007A93 50%, #00484D 100%);
}

.inner-menu:hover {
    color: rgb(255, 255, 255);
    background-color: #007A93;
    background-image: linear-gradient(225deg, #00484D 0%, #007A93 50%, #00484D 100%);
    font-family: Helvetica;
    border-radius: 15px;
    margin: 5px;
}

.inner-menu-primary {
    color: rgb(255, 255, 255);
    background-color: #007A93;
    background-image: linear-gradient(225deg, #00484D 0%, #007A93 50%, #00484D 100%);
    font-family: Helvetica;
    border-radius: 15px;
    margin: 5px;
    transition: 0.3s;
}

.inner-menu-primary:hover {
    color: rgb(255, 255, 255);
    background-color: #00484D;
    background-image: linear-gradient(225deg, #007A93 0%, #00484D 50%, #007A93 100%);
    font-family: Helvetica;
    border-radius: 15px;
    margin: 5px;
}

.inner-menu-secondary {
    font-family: Helvetica;
    transition: 0.3s;
    color: #007A93;
    font-size: 12px;
}

.inner-menu-secondary:hover {
    font-family: Helvetica;
    color: #00484D;
    font-size: 12px;
}

.inner-menu-secondary {
    font-family: Helvetica;
    transition: 0.3s;
}

.inner-menu-login {
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
    border-radius: 15px;
    margin: 5px;
    border-width: 0;
    transition: 0.3s;
}

.inner-menu-login:active {
    border-width: 1px;
    border-color: #007A93;
    border-image: linear-gradient(225deg, #00484D 0%, #007A93 50%, #00484D 100%);
}

.menu-option {
    border-width: 2px;
}

.body {
    margin: 0;
    padding: 0;
}

.menu-option {
    font-weight: lighter;
    transition: 0.3s;
}

.menu-option:hover {
    color: #007A93;
}

.navbar-option {
    font-weight: lighter;
    transition: 0.3s;
}

.navbar-option:hover {
    color: #ffcc00;
    cursor: pointer;
}

.row {
    margin: 0;
    padding: 0;
}

.search-data {
    box-shadow: inset;
    padding-left: 20px;
    padding-right: 20px;
}

.app-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pages-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.gg-menu {
    margin-top: 15px;
    margin-bottom: 5px;
}

.search-data:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #00484D;
}

.search-market-data-option {
    font-size: 12px;
}

#search-results {
    border-radius: 15px;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    outline: none !important;
    box-shadow: none !important;
}

.search-result-option {
    font-size: 12px;
}

.search-result-option:hover {
    font-size: 12px;
    color: white;
    background-color: #007A93;
    background-image: linear-gradient(225deg, #00484D 0%, #007A93 50%, #00484D 100%);
}

#menu {
    display: none;
}

.selected-market-data {
    color: #007A93;
    background-color: #fcfcfc;
    font-family: Helvetica;
    border-radius: 15px;
    border: 2px;
    margin: 5px;
}

.selected-market-data-name {
    font-weight: 800px;
}